<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      You have made the order in testapp, further information <%= link_to "here", @order %>
    </p>
  </body>
</html>