/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
*= require material_icons
*/

@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.bla {
	width: 300px;
	position: relative;
	margin: 20px auto;
}

.search_line {
	position: absolute;
	left: 215px;
	bottom: 60px;
}
.conteiner-show {
	margin: 20px;
}
.rate1 {
    .material-icons {
		color: #26a69a;
	}
}
.wishbtn{
	float: right;
}

.card-comp{
	position: fixed;
	z-index: 50;
}
.card-title{
	color: white;
}
.product-comment{
	text-align: center;
	padding-bottom: 20px;
}
.product-body{
	text-align: center;
}
.conteiner-bucket{
	padding: 20px;
}
.bucket-table{

}
.container-order{
	margin: 20px;
}
#dropin-container{
	margin:20px auto;
	max-width: 500px;

}
